:root {
  --custom-var-1: rgb(189, 199, 54);
  --surface-ground: #f9fafb;
  --surface-section: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
  --surface-border: #dfe7ef;
  --surface-hover: #f6f9fc;
}

.custom-class-color {
  color: var(--custom-var-1);
  background-color: var(--surface-ground);
}