html {
  font-size: var(--font-size, 14px);
}

.custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 5s ease-in-out infinite,
    custom-progress-spinner-color 6s ease-in-out infinite;
}
.dots-spinner .p-progress-spinner-circle {
  animation: dots-progress-spinner-dash 5s ease-in-out infinite,
    dots-progress-spinner-color 6s ease-in-out infinite;
}
.progress-hotels {
  animation: text-progress-hotels 6s ease-in-out infinite;
}

@keyframes dots-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  25% {
    /* Ajustamos los valores de stroke-dasharray y stroke-dashoffset para una transición más fluida */
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -20px; /* Suavizamos el desplazamiento */
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; /* Ajustamos para una finalización más suave */
  }
}
@keyframes dots-progress-spinner-color {
  0%,
  100% {
    stroke: var(--spring);
  }
}

@keyframes text-progress-hotels {
  100%,
  0% {
    color: var(--granarona);
  }
  40% {
    color: var(--bitacora);
  }
  66% {
    color: var(--vulcano);
  }
  80%,
  90% {
    color: var(--spring);
  }
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: var(--granarona);
  }
  40% {
    stroke: var(--bitacora);
  }
  66% {
    stroke: var(--vulcano);
  }
  80%,
  90% {
    stroke: var(--spring);
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  25% {
    /* Ajustamos los valores de stroke-dasharray y stroke-dashoffset para una transición más fluida */
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -20px; /* Suavizamos el desplazamiento */
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; /* Ajustamos para una finalización más suave */
  }
}
.p-message-icon {
  margin-top: 6px;
  margin-bottom: 8px;
}
.mobile-frame {
  width: 100%;
  min-width: 375px;
  height: 100%;
}

.versions {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  padding: 15px 0;
  font-family: 'Menlo', 'Lucida Console', monospace;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: #202127;
  backdrop-filter: blur(24px);
}

.versions li {
  display: block;
  float: left;
  border-right: 1px solid var(--ev-c-gray-1);
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  &:last-child {
    border: none;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

.card-box {
  background: white;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
}
.dark .card-box {
  background-color: var(--p-surface-800);
}
.dark .card-box .p-button-secondary.p-button:not(.p-button-outlined):not(.p-button-text) {
  background: var(--p-surface-700);
  border-color: var(--p-surface-700);
}
.dark .card-box .p-button-secondary.p-button:not(.p-button-outlined):not(.p-button-text):not(:disabled):hover {
  background: var(--p-surface-600);
  border-color: var(--p-surface-600);
}
.dark .card-box .p-button-secondary.p-button:not(.p-button-outlined):not(.p-button-text):not(:disabled):active {
  background: var(--p-surface-500);
  border-color: var(--p-surface-500);
}

