.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.8);
}
.mySwiper .swiper-pagination {
  top: 1rem;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 10;
}