@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  @font-face {
    font-family: 'Inter var';
    src: url('./fonts/Inter-roman.var.woff2') format('woff2');
  }
  html {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: "cv11";
  }
}