@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter var';
    src: url('./fonts/Inter-roman.var.woff2') format('woff2');
  }
  html {
    font-family: 'Inter var', sans-serif;
  }
}